# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Imported translations
*.translations

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Build results
*.x86_64
*.x86
*.arm64
*.arm
*.apk
*.aab
*.ipa
*.pck
*.zip

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo